[submodule "2110363-hw_syn_lab/basys3-ov7670-vga"]
	path = 2110363-hw_syn_lab/basys3-ov7670-vga
	url = https://github.com/Azther0z/basys3-ov7670-vga.git
[submodule "2110215-prog_meth/project-saint_and_poom"]
	path = 2110215-prog_meth/project-saint_and_poom
	url = https://github.com/Azther0z/roll-the-dice.git
[submodule "2110507-sw_dev_prac_2/assignment1"]
	path = 2110507-sw_dev_prac_2/assignment1
	url = git@github.com:Azther0z/a01-swdevprac2-Azther0z.git
[submodule "2110507-sw_dev_prac_2/assignment/2"]
	path = 2110507-sw_dev_prac_2/assignment/2
	url = git@github.com:Azther0z/a02-swdevprac2-Azther0z.git
[submodule "2110507-sw_dev_prac_2/assignment2"]
	path = 2110507-sw_dev_prac_2/assignment2
	url = git@github.com:Azther0z/a02-swdevprac2-Azther0z.git
[submodule "2110507-sw_dev_prac_2/assignment3"]
	path = 2110507-sw_dev_prac_2/assignment3
	url = https://github.com/Azther0z/a03-swdevprac2-Azther0z.git
